@import "styles/variables";

section {
    background: color(secondary, light);
    .row {
        overflow-x: hidden;
        max-width: breakpoint(lg, max);
        margin: auto;
        padding: 0 30px;
        @media (min-width: breakpoint(xl, min)) {
            padding: 0;
        }
        .container {
            display: flex;
            flex-direction: column;
            margin: 0;
            margin-bottom: 25px;
            padding: 0;
            @media (max-width: breakpoint(md, max)) {
                text-align: center;
            }
            .subtitle { 
                color: color(primary, midgray);
            }
        }
    }
}
